<html>
<head>
<style>
body
{
background-size:cover;
backgroun-repeat:no-repeat;
background-position:center center;
font-family:sans-serif;
box-sizing:border-box;
position:relative;
}
ul
{
margin:0px;
padding:0px;
list-style:none;
}
ul li{
float:left;
height:40px;
width:300px;
background-color:red;
opacity:.8;
line-height:40px;
text-align:center;
font-size:40;
}
ul li a
{
text-decoration:none;
color:white;
display:block;
}
ul li a:hover
{
background-color:red;
}
ul li ul li
{
display:none;
}
ul li:hover ul li
{
display:block;
}
</style>
</head>
<body background="https://img.freepik.com/premium-photo/paper-cut-outs-social-networking-icons-blue-backdrop_23-2147841397.jpg">
<ul>
<li><a href="about.html">HOME</a>
</li>
<li><a href="#">ABOUT_US</a>
<ul>
<li><a href="vision.html">VISION&MISSION</a></li>
<li><a href="infrastructure.html">INFRASTRUCTURE</a></li>
<li><a href="events.html">EVENTS</a></li>
</ul>
</li>
<li><a href="#">EDUCATION</a>
<ul>
<li><a href="timetable.html">TIME_TABLES</a>
<li><a href="sports.html">SPORTS</a>
<li><a href="games.html">GAMES</a>
<li><a href="subjects.html">SUBJECTS</a>
</ul>
</li>
<li><a href="#">CONTACTS</a>
<ul>
<li><a href="office.html">OFFICE</a></li>
</ul>
</li>
<li><a href="#">SERVICES</a>
<ul>
<li><a href="books.html">BOOKS</a></li>
<li><a href="uniform.html">UNIFORM</a></li>
<li><a href="middaymeals.html">MID DAY MEALS</a></li>
</ul>
</li>
</ul>
<header>
</body>
</html>